

@media (max-width:850px){
    .makeStyles-rootDiv-177 {
        width: 100% !important;
        padding: 50px 50px 50px !important;
        margin: 0 !important;
    }
    .MuiGrid-grid-xs-6 {
        flex-direction: row;
        max-width: 100% !important;
        flex-basis: 100% !important;
        text-align: center;
    }
    .makeStyles-rootDiv-177 .MuiGrid-item img { 
        max-width: 100% !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        height: 200px !important;
    }
    .makeStyles-border-180 {
        max-width: 100% !important;
        margin: 0 !important;
        margin-top: -196px !important;
        height: 200px !important;
        margin-left: 12px !important;
    }
    .makeStyles-para-72 {
        width: 100% !important;
    }
    .makeStyles-divider-181 {
        display: none;
    }
    .makeStyles-list-182 {
        margin-top: 40px !important;
    }
}