.logos {
    width: 400px; 
    margin-top: 100px;
}
.intro-para {
    width: 80%;
    color: #011627
}


@media (max-width:850px){
    #button-reveal  {
        text-align: center !important;
    }
    #logo-grid {
        width: 100% !important;
        margin: 0 auto !important;
    }
    #logo-grid img {width: 50% !important; margin: 0 !important;}
    #home {
        text-align: center !important;
    }
    .intro-para {
        width: 100%;
    }
}