/* Project over iew scrolling */
.project-scroll {
    overflow-y: scroll;
    height: 120px;
}
.view-scroll::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .view-scroll::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
  }
  /* Handle */
  .view-scroll::-webkit-scrollbar-thumb {
    background: rgb(114, 114, 114); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .view-scroll::-webkit-scrollbar-thumb:hover {
    background: #555555; 
  }

/* Project More Dialogs */
.project-more {
  margin-right: 3px;
}

.card {
  max-width: 345px !important;
  display: flex !important;
  flex-direction: column !important;
  background-color: #DCDCDD !important;
}

@media (max-width:850px){
  #projects {
    padding: 0% !important; 
    padding-bottom: 20% !important;
    padding-top: 20% !important; 
  }
  #projects-container {padding-left: 10px !important; padding-right: 10px !important;}
  .card {width: 90% !important; margin: 0 auto !important;}
}