@media (max-width:850px){
    .Projects-title-319 {
        width: 100% !important;
        padding: 50px 50px 50px !important;
        margin: 0 !important;
    }
    .Projects-grid-321 {
        flex-direction: row;
        max-width: 100% !important;
        flex-basis: 100% !important;
        padding-bottom: 30px !important;
        text-align: center;
    }
    .MuiGrid-item img { 
        width: 100% !important;
        margin-top: 20px !important;
        margin-left: 40px !important;
    }
    .makeStyles-para-72 {
        width: 100% !important;
    }
    .Projects-divider-320 {
        display: none;
    }
}
