body {
  background-color: rgb(240, 239, 239) !important;
}

body, div, p , span, b , strong, ul , li {
  font-family: 'Open Sans' !important;
}
button:hover {
  color: #fff !important;
  border-color: #D5573B;
  background-color: #D5573B;
}
.MuiButton-outlined {
  font-size: 13px !important; padding: 5px 16px !important;
}
button { padding: 5px 16px !important;}
header .MuiToolbar-gutters button:hover { background: #D5573B !important; color :#fff !important;}
#contact button:hover,
#projects .MuiCardActions-spacing button:hover,
#home button:hover { background: #D5573B !important; color :#fff !important;}

.MuiButton-root {padding: 5px 16px !important; }
.MuiButtonBase-root { background: transparent !important; padding: 5px 16px !important; border-radius: 0px !important; font-weight: 400;}
.MuiButtonBase-root.Mui-selected {  border-right: 3px solid #D5573B !important; font-weight: bold !important;}
.MuiButtonBase-root.Mui-selected:hover {  color:#D5573B !important;  border-right: 3px solid #D5573B ; font-weight: bold !important;}

.MuiButtonBase-root:hover {
  color: #333 !important;
  background-color: transparent !important;
}
.techdetails { padding-left: 0px !important; color: #fff !important;}
.MuiGrid-root ol { padding-left: 16px !important;}
.techdetails li { color: #fff !important; list-style: circle;}
.MuiCardActions-spacing { 
  padding: 8px 16px !important; padding-bottom: 16px !important;
}
.coursepointer { 
  padding-left: 20px;
}
.Contact_details { padding-top:20px;}
.MuiGrid-root { padding-bottom: 25px !important;}
.App {
  text-align: center;
}
.MuiGrid-root:last-child { padding-bottom: 0px !important;}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mobile_menu {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width:850px){
  h1 {
    font-size: 2rem !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.5rem !important;
    margin-top: 25px !important;
  }
  .makeStyles-root-68 {
    margin-left: 10px !important;
    margin-top: 50vh !important;
  }
  .mobile_menu {
    display: block !important;
  }
  .makeStyles-sections-6 {
    display: none !important;
  }
  .MuiGrid-item { width: 100% !important; max-width: 100% !important;}
  .MuiGrid-item .MuiCard-root { width: 100% !important; max-width: 100% !important;}
  #home  button,
  #contact button,
  .MuiGrid-item .MuiCard-root button { padding: 6px  15px !important;}
  #home {     width: 80% !important;
    margin: 0 auto !important;
    padding: 100px 0px 0px !important;}
  #home img { margin: 0px !important;}
  .techdetails { padding-left: 16px !important;}
  .MuiTabs-flexContainerVertical { width: 100% !important; display: inline; border-bottom: 1px solid #e2e2e2 !important;display: table;}
  
  .MuiTabs-flexContainerVertical button { max-width: 33% !important;width: 33% !important; float: left !important; display: inline !important;}
  .MuiTabs-flexContainerVertical button span { text-align: center !important;}
  .MuiTabs-flexContainerVertical button.Mui-selected { border-bottom: 2px solid #D5573B !important; border-right: 0px !important;}
   #experience .MuiTabs-flexContainerVertical { display: inline !important;}
}

